
.mov-link{
  color: white;
}
.divide{
  width: 45%;
  border-right: 1px solid#3a62d3;
}
.name{
  font-family: Arial, Helvetica, sans-serif;
}
.display{
  display: flex;
    justify-content: space-evenly;
    padding: 0 24px;
    margin: 20px;
    border-bottom: 1px solid #3a62d3;    
}
.adjust{
  margin-bottom: 12px;
}
.ajustarTitulo{
  text-align: center;
   }

.positionImage{
    text-align: center;   
}

.iconos{
  border-radius: 50%;
  object-fit: cover;
  height: 25px;
  width: 25px;
  overflow: hidden;
  
}
.icon-git{
  color: black;
  text-decoration: none;
}
.icon-git:hover{
  color: #3a62d3;
}
.numero ul{
  list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 45px;
}
.numberStyle{
  list-style: none;
}
.number{
  padding-left: 8px;
}
.myNumber{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.myImage{
  position: relative;
  bottom: 12px;
  border-radius: 50%;
  object-fit: cover;
  height: 130px;
  overflow: hidden;
  padding: 0;
  width: 130px;
  text-align: center;
  margin: 12px;
}

////////////////
.box {
    overflow: hidden;
}

.content {
    font-size: 15px;
    line-height: 20px;
    padding: 0 20px;
    text-align: justify;
    
}

.left {
    float: left;
    width: 50%;
    animation-duration: 2s;
}

.left .content {
    border-right: 3px solid #3a62d3;
}

.right {
    float: right;
    width: 50%;
    animation-duration: 3s;
}


/////////////////////
.box2 {
    text-align: center;
    display: flex;
    justify-content: space-evenly;   
}

/////////////////////

.circular{
  height: 100px;
  width: 100px;
  position: relative;;
  
}
.circular .inner, .circular .outer, .circular .circle{
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.2);
}
.circular .inner{
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background-color: #dde6f0;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.circular .circle{
  z-index: 1;
  box-shadow: none;
}
.circular .numb{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #4158d0;
}
.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}
.circle .bar .progress, .dot span{
  background: #4158d0;
}
.circle .left .progress{
  z-index: 1;
  animation: left 4s linear both;
}
@keyframes left {
  100%{
    transform: rotate(180deg);
  }
}
.circle .right{
  z-index: 3;
  transform: rotate(180deg);
}
.circle .right .progress{
  animation: right 4s linear both;
  animation-delay: 4s;
}
@keyframes right {
  100%{
    transform: rotate(180deg);
  }
}
.circle .dot{
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 10px;
  margin-top: -5px;
  animation: dot 8s linear both;
  transform-origin: 0% 50%;
}
.circle .dot span {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
@keyframes dot{
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
    z-index: 4;
  }
  100% {
    transform: rotate(270deg);
    z-index: 4;
  }
}
//////////

.circular2{
  height: 100px;
  width: 100px;
  position: relative;
  
}
.circular2 .inner2, .circular2 .outer2, .circular2 .circle2{
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.2);
}
.circular2 .inner2{
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background-color: #dde6f0;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.circular2 .circle2{
  z-index: 1;
  box-shadow: none;
}
.circular2 .numb2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #4158d0;
}
.circular2 .bar2{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle2 .bar2 .progress2{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}
.circle2 .bar2 .progress2, .dot2 span{
  background: #4158d0;
}
.circle2 .left2 .progress2{
  z-index: 1;
  animation: left 4s linear both;
}
@keyframes left {
  100%{
    transform: rotate(180deg);
  }
}
.circle2 .right2{
  z-index: 3;
  transform: rotate(180deg);
}
.circle2 .right2 .progress{
  animation: right 4s linear both;
  animation-delay: 4s;
}
@keyframes right {
  100%{
    transform: rotate(180deg);
  }
}
.circle2 .dot2{
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 10px;
  margin-top: -5px;
  animation: dot 8s linear both;
  transform-origin: 0% 50%;
}
.circle2 .dot span {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
@keyframes dot2{
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
    z-index: 4;
  }
  100% {
    transform: rotate(270deg);
    z-index: 4;
  }
}
////////////////////
@media (max-width: 840px) {
  .midc {
    margin: 27px;
  }
  .display {
    align-items: center;
    flex-direction: column;
  }
  .left {
    float: none;
    width: 100%;
  }
  .left .content {
    border-right: none;
}
.right {
  float: none;
  width: 100%;
}
}
@media (max-width: 600px) {
  .midc {
    width: 86%;
    margin: 27px;
  }
  .display {
    align-items: center;
    flex-direction: column;
  }
  .left {
    float: none;
    width: 100%;
  }
  .left .content {
    border-right: none;
}
.right {
  float: none;
  width: 100%;
}
}
@media (max-width: 400px) {
  .midc {
    width: 80%;
    margin: 27px;
  }
  .display {
    align-items: center;
    flex-direction: column;
  }
  .left {
    float: none;
    width: 100%;
  }
  .left .content {
    border-right: none;
}
.right {
  float: none;
  width: 100%;
}
}
